.main-head{
    height: 70px;
}

.head-right{
    position: absolute;
    left: 740px;
}

.top{
    width: 100%;
    height: 40px;
    margin-top: 30px;
    border: 0px;
    background: -moz-linear-gradient(top,#fff,#99e4f5);
    background: -webkit-linear-gradient(top,#fff,#c8f0f9);
    background: -ms-linear-gradient(top,#fff,#c8f0f9);
    background: -o-linear-gradient(top,#fff,#99e4f5);
    background: linear-gradient(top,#fff,#99e4f5);
    filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ffffff,endcolorstr=#c8f0f9,gradientType=0);
}

.top .container{
    width: 1000px;
    height: 30px;
    margin: 0 auto;
    font-size: 20px;
}

.browse{
    width: 1000px;
    min-height: 650px;
    margin: 0 auto;
    padding: 30px;
}

.item{
    width: 200px;
    height: 320px;
    background: #fff;
    margin: 20px 15px;
    float: left;
}

.item .time{
    width: 65px;
    color: #333333;
    font-size: 28px;
    float: left;
}

.item button{
    float: right;
    border: 0px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background: #acacac;
    color: #fff;
    margin-top: 5px;
}

.item img{
    width: 100%;
    height: 200px;
}

.item .price{
    width: 100%;
    height: 20px;
    color: #ff396a;
    font-weight: bold;
}

.item .name{
    width: 100%;
    height: 20px;
    color: #666666;
    overflow: hidden;
}
